@font-face {
    Font-family: "yehuda-light"; 	 
    Src: url("app/model/fonts/yehudaclm-light-webfont.ttf");
    }
@font-face {
    Font-family: "yehuda-bold"; 	 
    Src: url("app/model/fonts/yehudaclm-bold-webfont.ttf");
    }
@font-face {
    Font-family: "carmela"; 	 
    Src: url("app/model/fonts/carmela.ttf");
    }
@font-face {
    Font-family: "varela"; 	 
    Src: url("app/model/fonts/VarelaRound-Regular.ttf");
    }
    
body {
    direction: rtl;
    text-align: right;
    margin-bottom: 20px;
    font-family: varela;
    /* font-size: 1.2rem; */
}
.container.login {
    max-width: 600px; 
    margin-top: 80px;
    padding: 25px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.middle {
    border-top: 1px solid #ff47008f;
    border-bottom: 1px solid #ff47008f;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.search-box {
    border: 1px solid #ccc; 
    margin: 10px;
    padding: 10px;
}
input.form-check-input {
    margin-right:0px;
}
label.form-check-label {
    padding-right: 5px;
}
.sub-search {
    border: 1px dashed rgb(255, 153, 153);
}
.new-activity-form, .activity-page {
    margin-top: 20px;
}
form.new-activity-form > .row, .activity-desc, .activity-page .row {
    margin-top: 10px; 
    margin-bottom: 10px; 
    border-bottom: 1px dashed rgb(255, 153, 153);
}
.activity-desc > .row, .activity-desc > div >.row {
    padding-top: 5px;
}
img.float-right {
    margin-left: 50px;
}
.actName {
    color: rgb(65, 65, 65);
}
.rank, .createdBy {
    color: rgb(180, 21, 0);
    font-size: 1rem;
}
.rank:hover, .createdBy:hover {
    text-decoration: none;
}
.act-page-btn {
    background-color: orangered;
    border: 2px solid orange;
    color: black;
    font-weight: bold;
}