body {
    direction: rtl;
    text-align: right;
}
.container.login {
    max-width: 600px; 
    margin-top: 80px;
    padding: 25px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.middle {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.search-box {
    border: 1px solid #ccc; 
    margin: 10px;
    padding: 10px;
}
