<div>
    <peula-li-navbar></peula-li-navbar>
    <div class="container activity-page">
        <div class="row">
            <div class="col-md-10">
                <h3>{{activity.activityName}}</h3>
            </div>
            <div class="col-md-2">
                <p><small>(הוספה למועדפים) </small>
                    <button ng-click="markAs(activity)" ><i class="fa" ng-class="{'fa-heart' : isFavorite , 'fa-heart-o' : !isFavorite }"></i></button>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-3">עורך:</div>
                    <div class="col-md">{{activity.createdBy}} (מתנועת - {{activity.youthMovement}})</div>
                </div>
                <div class="row">
                    <div class="col-md-3">גיל החניכים:</div>
                    <div class="col-md">{{activity.activityAge}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">אורך הפעולה:</div>
                    <div class="col-md">{{activity.activityLength}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">מיקום הפעולה:</div>
                    <div class="col-md">{{activity.activityLocation}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">רמת אקטיביות:</div>
                    <div class="col-md">{{activity.levelOfActive}}</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md">דירוג הפעולה: {{activity.activityRank|number:1}}<small>/5</small></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">תגיות:</div>
            <div ng-repeat="tags in activity.activityTags">&nbsp &nbsp{{tags}} {{$last ? '' : ', '}}</div>
        </div>
        <div class="row">
            <div class="col-md-2">מטרות הפעולה:</div>
            <div class="col-md">{{activity.activityGoals}}</div>
        </div>
        <div class="row">
            <div class="col-md-2">תאור קצר:</div>
            <div class="col-md">{{activity.activityShortDesc}}</div>
        </div>
        <div class="row">
            <div class="col-md-2">חומר עזר נדרש:</div>
            <div class="col-md">{{activity.activityResources}}</div>
        </div>
        <div>
            <div class="row">
                <div class="col-md-2">תאור מהלך הפעולה:</div>
            </div>
        </div>
        <div>
            <div class="row" ng-repeat="step in activity.activityFullDesc">
                <div class="col-md-2">שלב {{$index+1}} - אורך:</div>
                <div class="col-md-1">{{step.stepLength}} <small>דקות</small></div>
                <div class="col-md-1">תאור:</div>
                <div class="col-md">{{step.stepDesc}}</div>
            </div>
            <!-- <div class="row">
                <div class="col-md-2">שלב 2 - אורך <small>(בדקות)</small>:</div>
                <div class="col-md-1">{{activity.activityFullDesc[1].step2Length}}</div>
                <div class="col-md-1">תאור:</div>
                <div class="col-md">{{activity.activityFullDesc[1].step2Desc}}</div>
            </div>
            <div class="row">
                <div class="col-md-2">שלב 3 - אורך <small>(בדקות)</small>:</div>
                <div class="col-md-1">{{activity.activityFullDesc[2].step3Length}}</div>
                <div class="col-md-1">תאור:</div>
                <div class="col-md">{{activity.activityFullDesc[2].step3Desc}}</div>
            </div>
            <div class="row">
                <div class="col-md-2">שלב 4 - אורך <small>(בדקות)</small>:</div>
                <div class="col-md-1">{{activity.activityFullDesc[3].step4Length}}</div>
                <div class="col-md-1">תאור:</div>
                <div class="col-md">{{activity.activityFullDesc[3].step4Desc}}</div>
            </div>
            <div class="row">
                <div class="col-md-2">שלב 5 - אורך <small>(בדקות)</small>:</div>
                <div class="col-md-1">{{activity.activityFullDesc[4].step5Length}}</div>
                <div class="col-md-1">תאור:</div>
                <div class="col-md">{{activity.activityFullDesc[4].step5Desc}}</div>
            </div>
            <div class="row">
                <div class="col-md-2">שלב 6 - אורך <small>(בדקות)</small>:</div>
                <div class="col-md-1">{{activity.activityFullDesc[5].step6Length}}</div>
                <div class="col-md-1">תאור:</div>
                <div class="col-md">{{activity.activityFullDesc[5].step6Desc}}</div>
            </div>
            <div class="row">
                <div class="col-md-2">שלב 7 - אורך <small>(בדקות)</small>:</div>
                <div class="col-md-1">{{activity.activityFullDesc[6].step7Length}}</div>
                <div class="col-md-1">תאור:</div>
                <div class="col-md">{{activity.activityFullDesc[6].step7Desc}}</div>
            </div>
            <div class="row">
                <div class="col-md-2">שלב 8 - אורך <small>(בדקות)</small>:</div>
                <div class="col-md-1">{{activity.activityFullDesc[7].step8Length}}</div>
                <div class="col-md-1">תאור:</div>
                <div class="col-md">{{activity.activityFullDesc[7].step8Desc}}</div>
            </div>
            <div class="row">
                <div class="col-md-2">שלב 9 - אורך <small>(בדקות)</small>:</div>
                <div class="col-md-1">{{activity.activityFullDesc[8].step9Length}}</div>
                <div class="col-md-1">תאור:</div>
                <div class="col-md">{{activity.activityFullDesc[8].step9Desc}}</div>
            </div>
            <div class="row">
                <div class="col-md-2">שלב 10 - אורך <small>(בדקות)</small>:</div>
                <div class="col-md-1">{{activity.activityFullDesc[9].step10Length}}</div>
                <div class="col-md-1">תאור:</div>
                <div class="col-md">{{activity.activityFullDesc[9].step10Desc}}</div>
            </div> -->
        </div>
        <div class="row"></div>

    </div>
</div>