<div>
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">רישום / התחברות</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <p>הגישה לדף הפעולה המלא היא למשתמשים רשומים בלבד.</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="signup()">הרשם</button>
        <button class="btn btn-primary" type="button" ng-click="login()">התחבר</button>
        <button class="btn btn-danger" type="button" ng-click="closeModal()">ביטול</button>
    </div>
</div>